.section {
  min-height: calc(100vh - 4.5rem);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  // color: ${theme.colors.textLight}; // Change colors
  // padding: ${theme.spacing.lg} 0; // Change 

  // @media (min-width: ${theme.breakpoints.md}) {
  //   padding: ${theme.spacing.xl} 0;
  // }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    
    // @media (min-width: ${theme.breakpoints.sm}) {
    //   width: 90%;
    // }
  }
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  width: 100%;
  // background: ${theme.colors.glass.background};
  backdrop-filter: blur(8px);
  border-radius: 20px;
  // padding: ${theme.spacing.lg};
  border: none;

  // @media (min-width: ${theme.breakpoints.md}) {
  //   padding: ${theme.spacing.xl};
  // }
}

.description {
  // animation: ${fadeUpKeyframes} 0.5s ease-out 0.2s forwards;
  opacity: 0;
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  // margin-bottom: ${theme.spacing.lg};
  opacity: 0.9;
  font-weight: 500;
}
