@import 'src/assets/stylesheets/tokens';

.projectSection{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // padding: ${theme.spacing.lg} 0;

    // @media (min-width: ${theme.breakpoints.md}) {
    //     padding: ${theme.spacing.xl} 0;
    // }

}

.sectionTitle {
  // @include type-sm;
//   font-size: clamp(1.25rem, 3vw, 1.5rem);
  margin-bottom: lg;
//   color: ${theme.colors.light};
  font-weight: 600;
}


.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    // gap: ${theme.spacing.lg};
    width: 100%;
    // margin-top: ${theme.spacing.lg};
  
    // @media (min-width: ${theme.breakpoints.md}) {
    //   gap: ${theme.spacing.xl};
    //   margin-top: ${theme.spacing.xl};
    // }
}