:root {
    --main-palette-100: #101c29;
    --main-palette-200: #0a1c3d;
    --main-palette-300: #8a8a8a;
    --main-palette-400: #2868c6;
    --main-palette-500: #91D2FA;
    --main-palette-600: #CBA2EA;
    --main-palette-600: #3f3381;
    --main-palette-700: #1d1f5a;

    
    
    
    // Current Theme
    --background-primary: #101c29;
    --background-secondary: #0a1c3d;
    --main-text-primary: #cba2ea;
    
    // text-spacing: {
    //     type-sm: .5rem;
    //     type-md: 1rem;
    //     type-lg: 2rem;
    // }
}


// ~~~~~~ Color Tokens ~~~~~~~


// primary colors
$main-100: var(--main-palette-100);
$main-200: var(--main-palette-200);
$main-300: var(--main-palette-300);
$main-400: var(--main-palette-400);
$main-500: var(--main-palette-500);



// background colors
$main-background-primary: var(--background-primary);
$main-background-secondary: var(--background-secondary);
$main-text-primary: var(--main-text-primary);