.card {
    border-radius: 3px;
    border: 1px solid black;
    background: rgba(119, 85, 85, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(98, 19, 19, 1);
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    text-align: center;
    font-weight: 600;
}

p {
    border: 1px solid black;
    padding: .5rem;
    line-height: 2rem;
}

a {
    // color: ${theme.colors.accent};
    // font-size: clamp(1rem, 2vw, 1.2rem);
    // transition: all ${theme.transitions.default};
    // padding: ${theme.spacing.xs};
    border-radius: 4px;
    
    &:hover {
    //   color: ${theme.colors.light};
    //   background: ${theme.colors.glass.card};
      transform: translateY(-2px);
    }
}