.card {
    border-radius: 3px;
    border: 1px solid black
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    text-align: center;
    font-weight: 600;
}

p {
    border: 1px solid black;
    padding: .5rem;
    line-height: 2rem;
}